:root {
    --transition-time: 0.3s;
}

body {
    margin: 0;
    border: 0;
    padding: 0;
    color: var(--primary-color);
}

a {
    color: var(--link-color);
    text-decoration: none;
    /* transition: var(--transition-time); */
}

a:hover {
    /* text-decoration: underline; */
    /* color: rgb(82, 171, 255); */
    color: var(--secondary-color);
}
