/* side.css */

#left-pane, footer {
    background: var(--header-color);
    color: white;
    padding: 0;
    font-family: "PT Sans", sans-serif;

    position: fixed;
    width: 400px;
    top: 0;
    left: 0;
    bottom: 0;
}

#left-pane a {
    color: lightgray;
}

footer {
    font-size: small;
    width: 390px;
    padding: 5px;
    top: auto;
    text-align: center;

}

footer a {
    color: var(--lighter-color);
}

#name {
    font-family: "Raleway", sans-serif;
    font-size: var(--title-size);
    text-align: center;
    margin-top: 1em;
}

#name .p-name {
    border-bottom: 2px solid var(--secondary-color);
}

#name .u-url {
    display: none;
}

#name .p-job-title {
    display: block;
    font-style: italic;
    font-size: medium;
    color: #ddd;
    margin-top: 5px;
}

#photo {
    width: 10em;
    margin: auto;
    margin-top: 3em;
}

#photo img {
    width: 100%;
    border-radius: 50%;
}

#contacts, #contacts a {
    margin-top: 0.5em;
    text-align: center;
    /* color: #777; */
    color: var(--lighter-color);
}

#contacts a:hover {
    color: var(--secondary-color);
    /* text-decoration-color: rgb(82, 171, 255); */
}

#contacts span {
    margin: 0 5px;
    /*margin-right: 5px;*/
}

#nav-menu {
    /* margin-top: 2em; */
    margin-right: 1em;
    text-align: right;
}

#nav-menu ul {
    /* display: flex; */
    display: flex;
    flex-direction: column;
    flex: auto;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-around;
}

#nav-menu li {
    font-size: var(--text-size);
    list-style: none;
    margin-top: 0.5em;
}

#nav-menu a:hover {
    color: var(--secondary-color);
}
