
@media (orientation: portrait),
       (max-width: 900px),
       (max-height: 600px){

    :root {
        font-size: 1.2em;
    }

    #left-pane {
        display: inline-block;
        position: relative;
        width: 100%;
    }

    #main-pane {
        margin-left: 0px;
    }

    .footer {
        display: block;
        position: static;
        width: 100%;
        padding: 20px 0;
    }

    .nav-menu--side {
        display: none;
    }

    .nav-menu--top {
        display: inline-block;
        /* display: block; */
    }
}
